@model City

<form asp-action="AddCity" asp-controller="City">
    <label>Şehir Adı</label>
    <input type="text" asp-for="CityName" class="form-control" />
    <span asp-validation-for="CityName" class="text-danger"></span>
    <br />

    <label>Ülke Adı</label>
    <input type="text" asp-for="CountryName" class="form-control" />
    <span asp-validation-for="CountryName" class="text-danger"></span>
    



    <br />
    <button class="btn btn-primary">Kaydet</button>
    <br />
    <a href="/City/Index/"> Listeye Geri Dön</a>
</form>
